body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
}

.container{
width:900px;
margin:auto;
}

.logo{
width:120px;
margin-top:20px;
}

table{
width:100%;
background:#1e293b;
margin:20px 0;
}

td,th{
padding:10px;
}

.card{
background:#1e293b;
padding:15px;
margin:10px;
border-radius:10px;
}

.tabs a{
margin:10px;
padding:10px;
background:#1e293b;
border-radius:8px;
text-decoration:none;
color:white;
}

.winner{color:#22c55e;font-weight:bold;}
.loser{color:#ef4444;font-weight:bold;}